aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
blinker
Brotli
cachetools
certifi
charset-normalizer
click
colorama
distro
docstring_parser
docutils
duckduckgo_search
Flask
frozenlist
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-language
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gTTS
h11
h2
hpack
httpcore
httpx
hyperframe
idna
itsdangerous
jaraco.context
Jinja2
lockfile
MarkupSafe
more-itertools
multidict
numpy
openai
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydub
python-daemon
python-dateutil
python-dotenv
python-telegram-bot
pytube
redis
regex
requests
rsa
setuptools
shapely
six
sniffio
socksio
soupsieve
spotipy
tenacity
tiktoken
tornado
tqdm
typing_extensions
urllib3
vertexai
Werkzeug
whois
wolframalpha
xmltodict
yarl